# Environment variables - CONTAIN SECRETS, DO NOT COMMIT
.env
.env.local
.env.*.local
backend/.env
react_native_app/.env
mobile_app/.env

# Android/IntelliJ
#
android/app/build/
android/.gradle/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
.kotlin/

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
/coverage/
ios/Flutter/.frameworks
android/app/debug
android/app/profile
android/app/release

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# testing
/coverage

# YAML
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
